<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>
    {% block head %}
    <title>{% block title %}{% endblock %} Salary review</title>
    {% endblock %}
  </head>
  <body>
  <div class="container">
    <h2>This is some salary statistics.</h2>
    <div id="buttons" class="btn-toolbar">
        <a href="./payback" class="btn btn-primary">Degrees that payback</a>
        <a href="./colleges" class="btn btn-primary">Salaries by college type</a>
        <a href="./regions" class="btn btn-primary">Salaries by region</a>
    </div>
    <br/>
    <form method="post" action="/aggregate">
      <select class="selectpicker" name="filter">
        <option value="starting_median_salary">Starting media salary</option>
        <option value="mid_career_median_salary">Mid-career median salary</option>
        <option value="mid_career_10th_percentile_salary">Mid-career 10th percentile salary</option>
        <option value="mid_career_25th_percentile_salary">Mid-career 25th percentile salary</option>
        <option value="mid_career_75th_percentile_salary">Mid-career 75th percentile salary</option>
        <option value="mid_career_90th_percentile_salary">Mid-career 90th percentile salary</option>
      </select>
      >
      <input name="salary" id="salary" type="text" value="50000">
      <button type="submit" class="btn btn-primary">Show</button>
    </form>
    <br />
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </div>
  </body>
</html>